<table class="table table-hover text-nowrap my-3">
  <thead>
    <tr>
      <th scope="col" class="table-header">Usuario</th>
      <th scope="col" class="table-header">Num. Documento</th>
      <th scope="col" class="table-header">Detalle</th>
      <th scope="col" class="table-header">Tipo Documento</th>
      <th scope="col" class="table-header">Moneda</th>
      <th scope="col" class="table-header">Fecha de registro</th>
      <th scope="col" class="table-header">Total a pagar</th>
      <th scope="col" class="table-header">Detraccion</th>
      <th scope="col" class="table-header">Valor pagado</th>
      <th scope="col" class="table-header" style='text-align:center;'>Movimientos</th>
      <th scope="col" class="table-header"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Milagros Concha</td>
      <td>RIMAC SEGUROS - F0454 87878</td>
      <td>APORTE ERP - 0511 Seguro</td>
      <td>Factura</td>
      <td>Soles (PEN)</td>
      <td>13-10-2022</td>
      <td> <span class="text-red text-bold"> 2,120.05 </span> </td>
      <td> <span class="text-red text-bold"> 0.00 </span> </td>
      <td> <span class="text-red text-bold"> 15.00 </span> </td>
      <td style='text-align:center;'> <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..." disabled checked> </td>

      <td> 
        <button class="button-table button-edit"> <i class="fa-solid fa-pen"></i> </button> 
        <button class="button-table button-delete"> <i class="fa-solid fa-trash"></i> </button> 
      </td>
    </tr>

    <tr>
      <td>Milagros Concha</td>
      <td>RIMAC SEGUROS - F0454 87878</td>
      <td>APORTE ERP - 0511 Seguro</td>
      <td>Factura</td>
      <td>Soles (PEN)</td>
      <td>13-10-2022</td>
      <td> <span class="text-red text-bold"> 2,120.05 </span> </td>
      <td> <span class="text-red text-bold"> 0.00 </span> </td>
      <td> <span class="text-red text-bold"> 15.00 </span> </td>
      <td style='text-align:center;'> <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..." disabled checked> </td>

      <td> 
        <button class="button-table button-edit"> <i class="fa-solid fa-pen"></i> </button> 
        <button class="button-table button-delete"> <i class="fa-solid fa-trash"></i> </button> 
      </td>
    </tr>

    <tr>
      <td>Milagros Concha</td>
      <td>RIMAC SEGUROS - F0454 87878</td>
      <td>APORTE ERP - 0511 Seguro</td>
      <td>Factura</td>
      <td>Soles (PEN)</td>
      <td>13-10-2022</td>
      <td> <span class="text-red text-bold"> 2,120.05 </span> </td>
      <td> <span class="text-red text-bold"> 0.00 </span> </td>
      <td> <span class="text-red text-bold"> 15.00 </span> </td>
      <td style='text-align:center;'> <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..." disabled> </td>

      <td> 
        <button class="button-table button-edit"> <i class="fa-solid fa-pen"></i> </button> 
        <button class="button-table button-delete"> <i class="fa-solid fa-trash"></i> </button> 
      </td>
    </tr>

    <tr>
      <td>Milagros Concha</td>
      <td>RIMAC SEGUROS - F0454 87878</td>
      <td>APORTE ERP - 0511 Seguro</td>
      <td>Factura</td>
      <td>Soles (PEN)</td>
      <td>13-10-2022</td>
      <td> <span class="text-red text-bold"> 2,120.05 </span> </td>
      <td> <span class="text-red text-bold"> 0.00 </span> </td>
      <td> <span class="text-red text-bold"> 15.00 </span> </td>
      <td style='text-align:center;'> <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..." disabled> </td>

      <td> 
        <button class="button-table button-edit"> <i class="fa-solid fa-pen"></i> </button> 
        <button class="button-table button-delete"> <i class="fa-solid fa-trash"></i> </button> 
      </td>
    </tr>

    <tr>
      <td>Milagros Concha</td>
      <td>RIMAC SEGUROS - F0454 87878</td>
      <td>APORTE ERP - 0511 Seguro</td>
      <td>Factura</td>
      <td>Soles (PEN)</td>
      <td>13-10-2022</td>
      <td> <span class="text-green text-bold"> 2,120.05 </span> </td>
      <td> <span class="text-green text-bold"> 0.00 </span> </td>
      <td> <span class="text-green text-bold"> 15.00 </span> </td>
      <td style='text-align:center;'> <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..." disabled> </td>

      <td> 
        <button class="button-table button-edit"> <i class="fa-solid fa-pen"></i> </button> 
        <button class="button-table button-delete"> <i class="fa-solid fa-trash"></i> </button> 
      </td>
    </tr>

  </tbody>
</table>