
<div class="m-3 p-3 bg-white card">

   

        <div class="d-flex flex-row justify-content-between header-card">
            <div class="header-container">
                <h5>{{titulo}}</h5>
                <p>Rellene los campos del formulario</p>
            </div>
            <div class="align-self-center">
                <button type="button" class="btn button-outline-secondary btn-lg mx-2"> <i class="fa-solid fa-ban"></i> CANCELAR</button>
                <button type="button" class="btn button-outline-success btn-lg"> <i class="fa-solid fa-floppy-disk"></i> GUARDAR DOCUMENTO</button>
            </div>
        </div>
        
       <hr>

       <form >
            <div class="row mb-2">
                <div class="form-group col-md-2">
                    <label for="inputNumOperacion" class="form-label">Numero de operación</label>
                    <input type="text" class="form-control" id="inputNumOperacion">
                </div>
                <div class="form-group col">
                    <label for="inputDocumentoPrestamo" class="form-label">Documento/Prestamo</label>
                    <input type="text" class="form-control" id="inputDocumentoPrestamo">
                </div>
                <div class="form-group col">
                    <label for="inputTipoDocumento" class="form-label">Tipo de documento</label>
                    <select id="inputTipoDocumento" class="form-select">
                        <option selected>Selecciona un tipo de documento</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <div class="row mb-2">
                <div class="form-group col-md-7">
                    <label for="inputDetalle" class="form-label">Detalle</label>
                    <input type="text" class="form-control" id="inputDetalle">
                </div>
                <div class="form-group col-md-5">
                    <label for="inputTipoTransaccion" class="form-label">Tipo de transacción</label>
                    <select id="inputTipoTransaccion" class="form-select">
                        <option selected>Selecciona un tipo de transacción</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <div class="row mb-2">
                <div class="form-group col-md-7">
                    <label for="inputPresupuesto" class="form-label">Presupuesto</label>
                    <select id="inputPresupuesto" class="form-select">
                        <option selected>Selecciona un presupuesto</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputTipoGasto" class="form-label">Tipo de gasto</label>
                    <select id="inputTipoGasto" class="form-select">
                        <option selected>Selecciona un tipo de gasto</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <div class="row mb-2">
                <div class="form-group col-md-7">
                    <label for="inputProyecto" class="form-label">Proyecto</label>
                    <select id="inputProyecto" class="form-select">
                        <option selected>Selecciona el proyecto</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="inputCuenta" class="form-label">Cuenta</label>
                    <select id="inputCuenta" class="form-select">
                        <option selected>Selecciona la cuenta bancaria</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            
            <div class="row mb-2">
                <div class="form-group col-md-6">
                    <label for="inputProveedorCliente" class="form-label">Proveedor/Cliente</label>
                    <select id="inputProveedorCliente" class="form-select">
                        <option selected>Selecciona el proveedor o cliente</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputUsuario" class="form-label">Usuario encargado</label>
                    <select id="inputUsuario" class="form-select">
                        <option selected>Selecciona el usuario encargado</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

            <div class="row mb-2">
                <div class="form-group col-md-3">
                    <label for="inputFechaDocumento" class="form-label">Fecha del documento</label>
                    <input id="inputFechaDocumento" class="form-control" type="date" />
                </div>
                <div class="form-group col-md-3">
                    <label for="inputTotal" class="form-label">Total a pagar</label>
                    <input type="text" class="form-control" id="inputTotal">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputDetraccion" class="form-label">Detraccion</label>
                    <input type="text" class="form-control" id="inputDetraccion">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputValorPagado" class="form-label">Valor pagado</label>
                    <input type="text" class="form-control" id="inputValorPagado">
                </div>
            </div>

            <div class="row mb-2">
                <div class="form-group files">
                    <label for="inputComprobante" class="form-label">Imagen documento comprobante  </label>
                    <input id="inputComprobante" type="file" class="form-control" multiple="">
                  </div>
            </div>

        </form>

   

</div>
