/* You can add global styles to this file, and also import other style files */
:root {
    --darkGray: #272727;
    --semiDarkGray: #525252;
    --bgColor: #F8FCFF;
    --gray: #989898;
    --textGray: #7D7D7D;
    --mainBlue: #269BD8;
    --mainBlueDark: #268BBF;
    --mainBlueLight: #2CB1F6;
    --lightGray: #EEEEEE;
    --red: #FF4343;
    --darkRed: #e12525;
    --lightRed: #fe4646;
    --green: #3C9E00;
}

html, body { 
    height: 100vh; 
    background-color: var(--bgColor);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/**CUSTOM FORMS COMPONENTS*/
.form-control{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-right: 0;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.form-control > i {
    margin-right: 0.5em;
    color: var(--gray)
}


.form-control > input, .form-control > input:focus {
    border: none;
    color: var(--semiDarkGray);
    font-size: 14px;
    flex: 1;
    outline-width: 0;
}



.form-control > button {
    background-color: transparent;
    border: none;
    color: var(--gray)
}

.form-control > button:hover {
    color: var(--semiDarkGray);
}

.label{
    margin-left: 0.5em;
    margin-bottom:  0.3em;
    font-size: 12px;
    color: var(--gray);
}

.error-input {
    font-size: 10px;
    margin-left: 0.5em;
    color: var(--red);
}


/**MATTABS*/
.mat-tab-labels{
    background-color: white;
}
.mat-ink-bar{
    background-color: var(--mainBlue) !important;
}

/** CUSTOM CARDS*/
.card {
    border: 1px var(--lightGray);
    box-shadow: 0 0 20px rgba(0,0,0,0.10);

}

 /**TABLES*/
 thead {
    color: var(--gray);
    font-size: 0.8em;
    font-weight: normal !important;
}

.table-header{
    font-weight: 500 !important;
}

tbody > tr{
    font-size: 0.8em;
    color: var(--darkGray);
    word-wrap: break-word;
}

.text-red{
    color: var(--red);
}

.text-green{
    color: var(--green)
}

.text-bold{
    font-weight: bold;
}